body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-size: 15px;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding: 0;
    box-sizing: border-box; */
    /* background-color: black; */
}
  
.rubik-font {
    font-family: "Rubik", sans-serif;
}
  
main {
    /* background-image: url("https://images.unsplash.com/photo-1666032234128-abc3e45bd1dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-position: center 0%;
    background-size: cover; */
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
    background-color: #fff;
    overflow-y: scroll;
}
  
body[data-nav="true"] > main {
    transform: translateY(-50%);
}
  
nav {
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
}
  
#nav-links {  
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 
    overflow-x: scroll;
}

#nav-links::-webkit-scrollbar {
    display: none;
}
  
body[data-nav="true"] > nav > #nav-links {
    transform: translateY(0%) scale(1);
}
  
#nav-links > .nav-link {
    text-decoration: none;
    transition: filter 300ms ease-in-out;
}

#nav-links > .nav-link:hover {
    filter: grayscale(1);
}
  
#nav-links > .nav-link > .nav-link-label {
    color: #1d1d1f;
    font-size: 1.25rem;
    margin: 0rem;
    text-transform: uppercase;
}
  
#nav-links > .nav-link > .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}
  
#nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: rgb(182, 142, 113);
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}
  
#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}
  
#nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
}
  
body[data-nav="true"] > #nav-toggle {
    background-color: rgb(85, 130, 149);
}
  
body:not([data-nav="true"]) > #nav-toggle > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
  
#nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}
  
body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

header {
    padding: 25px 0;
    width: 100%;
    height: 7rem;
}
.header-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-container a {
    width: auto;
    height: 4rem;
}
.header-container a .logo {
    width: auto;
    height: 4rem;
}
.header-container .brand_description {
    width: auto;
    height: 3rem;
}

.hero_section {
    width: 100%;
    max-height: calc(100vh - 7rem);
    display: grid;
    place-items: center;
}
.hero_container {
    width: 92vw;
    max-width: 1250px;
    height: 700px;
    margin: auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.hero_text_content {
    padding-right: 1rem;
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 0;
    flex-direction: column;
    text-align: left;
}
.hero_text_content .hello_msg {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
}
.hero_text_content h1 {
    font-size: 3.5rem;
    margin-top: 1rem;
    font-weight: 700;
    margin-bottom: 45px;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 45px;
}
.socials i {
    font-size: 1.75rem;
    color: #000000;
    cursor: pointer;
}
.contact_us {
    font-size: 20px;
    font-weight: 400;
    background-color: #000000;
    color: #fff;
    padding: 10px 15px;
    width: max-content;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.hero_img_content {
    width: auto;
    height: 100%;
}
.hero_img_content div {
    width: 100%;
    height: 100%;
    background: url(/images/eco.webp);
    background-size: cover;
    background-position: 50% 0%;
}
.contact_section {
    padding: 30px 0;
    height: auto;
    background-color: #fff;
}
.contact_header {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #000000;
}
.contact_underline {
    width: 70px;
    height: 5px;
    background-color: #000000;
    border-radius: 30px;
    margin: 0 auto;
}
.contact_container {
    padding: 60px 0 0;
    width: 100%;
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin: 0 auto;
    row-gap: 3rem;
    display: grid;
    gap: 1.5rem;
}
.contact_info {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    color: #000000;
}
.contact_info i {
    font-size: 2rem;
    margin-right: 1rem;
}
.contact_title {
    font-size: 20px;
    font-weight: 500;
}
.contact_subtitle {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none !important;
    color: #000000;
}
.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 460px;
}
.contact_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.contact_content {
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
}
.contact_content label {
    font-size: 16px;
    font-weight: 500;
}
.contact_content input,
.contact_content textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-size: 0.875rem;
    background-color: #f5f5f7;
    color: #1d1d1f;
    border: none;
    outline: none;
    padding: 1rem 1rem 1rem 0;
    resize: none;
}
.contact_btn_align {
    display: flex;
    justify-content: flex-end;
}
.contact_button {
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
}
.contact_button i {
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}
.copyright_section {
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}
.copyright_container {
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 820px) {
    .contact_section {
        padding: 30px 0;
        margin-bottom: 128px;
    }
    .contact_container {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .contact_form {
        width: 100%;
    }
}
@media screen and (max-width: 767px){
    .hero_container {
        display: block;
        background: url(/images/eco.webp);
        background-position: center;
        background-size: cover;
    }
    .hero_text_content {
        padding: 0;
        background-color: rgba(255,255,255,0.75);
        height: 100%;
        text-align: center;
        align-items: center;
    }
    .hero_img_content {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    nav .logo {
        width: auto;
        height: 60px;
    }
    nav .brand_description {
        width: 22rem;
        height: auto;
    }
    .hero_container {
        height: 500px;
    }
    .hero_text_content h1 {
        font-size: 2.5rem;
    }
    .socials {
        gap: 30px;
    }
    .socials i {
        font-size: 2.25rem;
        color: #000000;
        cursor: pointer;
    }
}
@media screen and (max-width: 319px) {
    nav .brand_description {
        width: 100%;
        height: auto;
    } 
}
.success_section {
    padding-bottom: 20px;
}
.success_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 92%;
    margin: 0 auto;
    text-align: center;
}
.success_container h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0 0 20px;
    width: 94%;
}
.success_container h2 {
    font-size: 1rem;
    color: #a0a0a0;
    font-weight: 400;
    margin: 0;
}
.success_img {
    margin: 40px 0 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}
.success_button {
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}
.success_button i {
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}