.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    width: 100%;
    padding: 1rem;
}

.hero h2 {
    font-size: 3.5vw;
}

.heroImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.heroLeft {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.heroTopLeftImage {
    width: 100%;
    position: relative;
    border-radius: 20vw;
    overflow: hidden;
}

.heroBottomLeft {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.heroBottomLeftSmallImage {
    height: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.heroBottomLeftMediumImage {
    height: 100%;
    aspect-ratio: 1 / 2;
    position: relative;
    border-radius: 20vw;
    overflow: hidden;
}

.heroRight {
    /* width: 100%;
    height: 100%; */
    position: relative;
    border-radius: 20vw;
    overflow: hidden;
    
}

.heroTopLeftImage img,
.heroBottomLeftSmallImage img,
.heroBottomLeftMediumImage img,
.heroRight img {
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}