.phrase {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    padding: 0 1rem;
}

.phraseBody {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phraseBody p {
    font-size: max(3.5vw, 2.5rem);
    line-height: 4rem;
    margin: 0;
    margin-right: 1.5vw;
    font-weight: 600;
}

.phraseBody span {
    opacity: 1;
}

/* FOR MULTIPLE PARAGRAPHS */
/* .sentences > span {
    opacity: 1;
} */