.description {
    position: relative;
    z-index: 1;
    margin: 20vw 10vw 15vw;
    padding: 0 1rem;
}

.description h2 {
    margin: 4rem 0 2rem;
    line-height: 1.65em;
    display: block;
    font-size: max(2vw, 1.5rem);
    font-weight: 500;
    color: #000;
}

.description p {
    margin: 0 0 1.5rem;
    line-height: 1.45em;
    display: block;
    font-size: max(1.75vw, 1.25rem);
    font-weight: 300;
    padding-left: 4rem;
    color: #000;
}

.description p .lessMargin {
    margin-bottom: 10px;
}

.description span {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.35em;
    margin-bottom: 2rem;
    padding-left: 5rem;
    margin-bottom: 30px;
    color: #858585;
    display: block;
}

.description a {
    text-decoration: none;
    color: #000;
    width:fit-content;
    cursor: pointer;
    display: inline;
    position: relative;
}

.description a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.25s ease-out;
    border-radius: 30px;
}
  
.description a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 767px) {
    .description {
        margin: 20vw 0 15vw;
    }
    .description p {
        padding-left: 1.75rem;
    }
}